@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #CC9966;
}
.header .logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .logo h1 {
  font-size: 16px;
  color: #2B3D5C;
  font-weight: 700;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .right .language {
  border-right: 1px solid #CC9966;
  padding: 0px 10px 0px 0px;
}
.header .right .language a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.header .right .login-button {
  background-color: #CC9966;
  color: #fff;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: 400;
}
.header .right .search {
  position: relative;
}
.header .right .search .search-input {
  display: none;
  position: absolute;
  top: 100%;
  right: -10px;
  width: 800px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #CC9966;
  border-radius: 5px;
}
.header .right .search .search-input input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}
.header .burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.header .burger-menu .burger-line {
  width: 25px;
  height: 3px;
  background-color: #2B3D5C;
  margin: 3px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu-border {
  width: 100%;
  height: 1px;
  background-color: #CC9966;
}
.menu .nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 15px 0;
}
.menu .nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 400;
}
.menu .nav-links li a:hover {
  color: #CC9966;
}

@media only screen and (max-width: 768px) {
  .header {
    border: none;
  }
  .header .burger-menu {
    display: flex;
  }
  .header .right {
    display: none;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  .menu .nav-links {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    text-align: center;
  }
  .menu li a {
    color: #CC9966;
  }
  .menu.show-menu {
    display: flex;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "League Spartan", sans-serif;
}

#carouselExampleIndicators .carousel-inner .carousel-item {
  position: relative;
}
#carouselExampleIndicators .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}
#carouselExampleIndicators .carousel-inner .carousel-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(239, 239, 239, 0.4901960784);
  padding: 15px;
}
#carouselExampleIndicators .carousel-inner .carousel-item .text h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #2B3D5C;
}
#carouselExampleIndicators .carousel-inner .carousel-item .text p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #2B3D5C;
}
@media (max-width: 768px) {
  #carouselExampleIndicators .carousel-inner .carousel-item .text {
    width: 100%;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item .text h1 {
    font-size: 18px;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item .text p {
    font-size: 16px;
  }
}

#about .container .text {
  border-top: 1px solid #CC9966;
  width: 100%;
  margin: 30px 0px 0px 0px;
  padding: 20px 0px;
}
#about .container .row {
  background-color: rgba(204, 153, 102, 0.2);
}
#about .container .row .information {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about .container .row .information h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #2B3D5C;
}
#about .container .row .information p {
  font-size: 18px;
  font-weight: 400;
  color: #2B3D5C;
  text-align: center;
}
#about .container .row .images {
  padding: 0;
}
#about .container .row .images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */